.productCardContainer{
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    background: #EAEDED;
    border: 1px solid red;
    margin-top: 20px;
    width: 15rem;
}

.productCardContainer span{
font-size: 14px;
width: max-content;
margin: 0px;
padding: 0.25rem 0.5rem;
}

.productPictureContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.productPictureContainer img{
    flex-shrink: 0;
    max-width: 60%;
    max-height: 60%;
}

.rightBtn{
    margin-left: 10px;
}

.container{
    margin-top: 15px;
}

